.button {
    cursor: pointer;
    top: 647px;
    left: 122px;
    width: 120px;
    height: 36px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #f7d068;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    outline: none;
  }
  