.card {
    top: 132px;
    left: 20px;
    width: 342px;
    height: 282px;
    background-color: #f7f5ff;
    border-radius: 16px;
    box-sizing: border-box;
  }

  .container {
    padding: 2px 16px;
  }
